body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://ru.freepik.com/premium-vector/black-background-images-in-corporate-look-for-large-printing_44982784.htm#query=фон%20для%20сайта&position=18&from_view=keyword&track=ais&uuid=14b874fd-1f49-4f5b-8df1-67275f940217');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
 .image1 {
   
 }