body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://ru.freepik.com/free-vector/flat-geometric-background_14351544.htm#query=фон%20для%20сайта&position=41&from_view=keyword&track=ais&uuid=14b874fd-1f49-4f5b-8df1-67275f940217');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
 .image1 {
   
 }
