body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/blue-and-orange-cupboards_23-2148518393.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
 .image1 {
   
 }
